/* GENERAL STYLES */
:root{
    --body-bg-color: #0a0a23;
    --text-color: white;
    --border-color: #158582;
    --hover-color: #6c87ff;
    --title-color: #5becc0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

a{
    color: var(--text-color);
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* NAV STYLES */
.layout-nav{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 17%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--body-bg-color);
    padding: 1rem 0;
    border-right: 1px solid var(--border-color);
}

.nav-list{
    width: 100%;
}

.nav-list li{
    width: 100%;
}

.nav-list li a{
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
}

.nav-list li:first-child a {
    margin-top: -1rem; 
    padding-top: 1rem; 
    padding-bottom: 1rem;
    border-top: 1px solid var(--border-color); 
}

.nav-list li:not(:first-child) a {
    padding: 1rem; 
}


.nav-list li a:hover{
    background-color: var(--hover-color);
    transition: all 500ms linear;
}
/*===============================================================================*/
/*CONTENT STYLES*/
body{
    display: flex;
    margin-left: 11.7rem;
}

.layout-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem;
}

.content-title{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: center;
}

.content-text{
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    text-align: left;
}

.content-list{
    display: block;
    width: 90%;
    margin-bottom: 1rem;
    padding-left: 1rem;
    list-style: inside;
}

.content-text:last-of-type{
    margin-bottom: 2rem;
}

#btn-start{
    display: flex;
    width: 10rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--border-color);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 700ms linear;
}

#btn-start:hover{
    background-color: var(--hover-color);
}
/*===============================================================================*/
/**/




